{% extends "base.html" %}

{% block content %}

<div class="media">
  <div style="float:left">
    <form action="/buttons" method="post">
      <input type="hidden" name="sessionId" value="{{sessionId}}"/>
      <input type="hidden" name="comparisonId" value="{{buttons.comparisonId}}"/>
      <input type="hidden" name="buttonId" value="{{buttons.leftButtonId}}"/>
      <div class="media-left">
        <input type="image" src="{{buttons.leftButtonImageUrl}}" onMouseOver="this.src='{{buttons.leftButtonPressedImageUrl}}';" onMouseOut="this.src='{{buttons.leftButtonImageUrl}}';" name="leftButton"/>
      </div>
    </form>
  </div>
  <div style="padding-left:200px; float:left"> 
    <form action="/buttons" method="post">
      <input type="hidden" name="sessionId" value="{{sessionId}}">
      <input type="hidden" name="comparisonId" value="{{buttons.comparisonId}}">
      <input type="hidden" name="buttonId" value="{{buttons.rightButtonId}}">
      <div class="media-left">
        <input type="image" src="{{buttons.rightButtonImageUrl}}" onMouseOver="this.src='{{buttons.rightButtonPressedImageUrl}}';" onMouseOut="this.src='{{buttons.rightButtonImageUrl}}';" name="rightButton">
      </div>
    </form>
  </div>
</div>

{% endblock %}
