{% extends "base.html" %}

{% block content %}

<div>
    <h3>Thank you for participating in our experiment!</h3>
    <p>We are exploring peoples' preferences for various types of download buttons. The following pages will show you two download buttons. Imagine that both of these buttons were available on the same website as you were searching to download some software. The task is to click on the button that you would choose in this circumstance. There is no correct or incorrect choice. This task will take about five minutes to complete.</p>
	<p>We may present the results of this study to some small groups of people, but we do not have any larger plans at this time. This is generally a 'proof-of-concept' type of exeriment. We will not be collecting any personal information from you, and all results will be completely anonymous. If you consent to partipate in our study, click on the button below to begin. </p>
	<p>~David Garrison & Daniel Bellow </p>
	
    <a class="btn btn-primary btn-sm" href="/">Begin</a>
</div>

{% endblock %}
