{% extends "base.html" %}

{% block content %}

<div>
    <h3>Thank you for participating in our experiment!</h3>
    <p>We are exploring peoples' preferences for various types of download buttons. These buttons could be seen on a website where you would download free software, for example. The following pages will show you two download buttons. The task is to click on the button that you would choose to click on if you saw both of them on the same website. This task will take about five minutes to complete.</p>
	<p>We will not be collecting any personal information from you, and all results will be completely anonymous. If you consent to partipate in our study, click on the button below to begin. </p>
	
    <a class="btn btn-primary btn-sm" href="/">Begin</a>
</div>

{% endblock %}
